DISCORD_APPLICATION_ID="application_id"
DISCORD_PUBLIC_KEY="public_key"
DISCORD_TOKEN="discord_bot_token"
PORT=3000
DATABASE_URL="supabase_conneciton_string"
DISCORD_GUILD_ID="server_id"
JWT_SECRET='jwt_sceret_key'
JWT_EXPIRES_IN='token_expiry'
CORS_ORIGIN="origin"
ADMIN_EMAIL="example@gmail.com"
ADMIN_PASSWORD="your_admin_password"
